<!DOCTYPE HTML>
<html>
<head>
  <!-- Include meta tag to ensure proper rendering and touch zooming -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Include the jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Socket.io -->
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <!-- CSS for the controller and orientation change page -->
  <link rel="stylesheet" href="/stylesheets/controller.css" />
  
  <title>PocketPals</title>

</head>

<body>
  <div id="verticalPhone">
    <img src="/images/rot.png" >
    <h3>Please put your device into landscape orientation</h3>
  </div>

  <div id="horizontalPhone">
    <div id="controller">
      <div id="controller_backing">
        <button class="dpad" id="up"></button>
        <button class="dpad" id="right"></button>
        <button class="dpad" id="down"></button>
        <button class="dpad" id="left"></button>
        <!--
        <div class="box" id="ab">
          <button class="circle" id="a">Grow</button>
          <button class="circle" id="b">Shrink</button>
        </div>
        -->
        <!--
        <div class="box" id="containingBox">
          <div class="circle" id="stickBounds">
            <div class="box" id="innerBox">
              <div class="circle" id="stick"></div>
            </div>
            <div class="draggable" id="rect"></div>
          </div> 
        </div>
        -->
        </div>
      </div>
  </div>

  <!-- Dpad input scripts -->
  <script src="/javascripts/controller.js"></script>

</body>
</html>
