<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <!-- Include meta tag to ensure proper rendering and touch zooming -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Include jQuery Mobile stylesheets
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  -->
  <!-- Include the jQuery library -->
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- Include the jQuery Mobile library -->
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <title>PocketPals</title>

  <script>
    function hi() {
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
          if (window.innerHeight > window.innerWidth) {
            alert("Please use Landscape!");
            // Eventually, once they change the orientation, then load the controls
          }
        }
    }
    window.onload = hi;

    $(document).ready(function(){
        $("#stick").on("tap",function() {
            $("p").hide();
        })/*.on("taphold",function() {
            $(this).hide();
        });*/

        $("#innerBox").draggable({
            containment: "parent"
        });
    });

/*
    // Centering the joystick
    function center() { var inner = document.getElementById('innerBox');
        var outer = document.getElementById('containingBox');

        inner.style.backgroundColor = red;
        inner.style.marginTop = 50px;// outer.style.width/2 - inner.style.width/2;
    }
    */
            
    // Initialize the draggable
    //$(".stick").each(function(){
     //   var $el = $(this);
      //  $el.draggable({containment: $el.closest('#stickBounds') });
    //});

    // Getter or setter after initialization
    var containment = $("#stick").draggable("option", "containment");

    // Setter
    $("#stick").draggable("option","containment","parent");


/*
    // Drawing canvas
    function draw() {
      var canvas = document.getElementById('viewport');
      if (canvas.getContext) {
        var ctx = canvas.getContext('2d');

        ctx.fillStyle= "rgb(200,0,0)";
        ctx.fillRect (10,10,55,50);

        ctx.fillStyle = "rgba(0,0,200,0.5)";
        ctx.fillRect (30, 30, 55, 50);
      }
    }
*/
  </script>
  <style type="text/css">
    body {
        background-color: #151515;
    }
    canvas { 
        border: 1px solid black;
        width: 100%;
        height: 500px;
        background-color: white;
    }
    #controller {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .box {
        position: relative;
        width: 30%;
    }
    .box:before {
        content: "";
        display: block;
        padding-top: 100%;  /* Ratio of 1:1 */
    }
    #innerBox {
        margin: 0 auto;
        margin-top: 0px;
        position: relative;
        width: 40%;
    }
    .circle {
        position: absolute;
        border-radius: 50%;
        border-style: solid;
        border-color: red;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    #stick {
        border-radius: 50%;
        border-style: dashed;
        border-color: black;
        background: grey;
    }
  </style>
</head>
<div id="displaywindow">
<!--    <body onload="draw();">
      <canvas id="viewport" width="500" height="300"></canvas>
    </body>
-->
</div>

<div id="mobile">
    <div id="verticalPhone">
        <p style=color: white;{}>alsdkfakl;sdf;hii</p>
    </div>

    <div id="controller">
        <div class="box" id="containingBox">
            <div class="circle" id="stickBounds">
                <div class="box" id="innerBox"><div class="circle" id="stick"></div></div>
            </div>
        </div>
    </div>
</div>
</html>
