<!DOCTYPE html>
<html>
<head>

  <!-- Include meta tag to ensure proper rendering and touch zooming -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Include the jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include interact.js for touch draggability -->
  <script src="//cdn.jsdelivr.net/interact.js/1.2.5/interact.min.js"></script>
  <!-- Socket.io -->
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

  <title>PocketPals</title>

  <link rel="stylesheet" href="/stylesheets/viewport.css" />
  </head>

<body>
    <canvas id="canvas"></canvas>

  <!-- Common View Scripts -->
  <script src="/javascripts/display.js"></script>

</body>
</html>
