html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #151515;
}

a {
  color: #00B7FF;
}

canvas { 
    border: 1px solid black;
    width: 100%;
    height: 500px;
    background-color: white;
}

#controller {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.box {
    position: relative;
    width: 30%;
}

.box:before {
    content: "";
    display: block;
    padding-top: 100%;  /* Ratio of 1:1 */
}

#innerBox {
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    width: 40%;
}

.circle {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-color: red;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#controller_backing {
    width: 100%;
    height: 100%;
    background: green;
}

.dpad {
    position: relative;
    width: 15%;
}

.dpad:before {
    content: "";
    display: block;
    padding-top: 100%;
}

button {
    display: block;
    background: grey;
    border: blue;
    -webkit-appearance: none;
}

#up {
    position: relative;
    top: 50%;
    -ms-transform: translate(200%,-150%);
    -webkit-transform: translate(150%,-150%);
    -moz-transform: translate(150%,10%);
    -o-transform: translate(200%,-150%);
    transform: translate(150%,-150%);
}

#right {
    position: relative;
    top: 50%;
    -ms-transform: translate(300%,-150%);
    -webkit-transform: translate(250%,-150%);
    -moz-transform: translate(250%,-150%);
    -o-transform: translate(300%,-150%);
    transform: translate(250%,-150%);
}

#down {
    position: relative;
    top: 50%;
    -ms-transform: translate(200%,-150%);
    -webkit-transform: translate(150%,-150%);
    -moz-transform: translate(150%,-150%);
    -o-transform: translate(200%,-150%);
    transform: translate(150%,-150%);
}

#left {
    position: relative;
    top: 50%;
    -ms-transform: translate(100%,-350%);
    -webkit-transform: translate(50%,-352%);
    -moz-transform: translate(50%,-352%);
    -o-transform: translate(100%,-350%);
    transform: translate(50%,-352%);
}

#stick {
    border-radius: 50%;
    border-style: dashed;
    border-color: black;
    background: grey;
}

#rect {
    background: green;
    border-radius: 5px;
    height: 50px;
    width: 50px;
}
