html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: block;
}

#displaywindow {
    height: 100%;
    width: 100%;
}

canvas { 
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1c1c1c;
}

.box {
    position: relative;
    width: 30%;
}

.box:before {
    content: "";
    display: block;
    padding-top: 100%;  /* Ratio of 1:1 */
}

#innerBox {
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    width: 40%;
}

.circle {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-color: red;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

